

html,body{
    background-image: url('lock2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-top:20px;
    position: absolute;
    }
    

.panel-body{
    align-self: center;
    width:50%;
    height:50%
}
.main{
    top:50%;
    left:50%
}

.container{
    padding: 10%;

}