
html,body{
    background-image: url('homepic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    
    position: absolute;
    }
    
.my-nav{
    position: absolute;
    z-index: 10;
    width: 100%;
    }
  
    
    body{
      background-color: black;
    }
    